<div
  class="w-full flex flex-col md:flex-row justify-between items-start p-6 max-w-7xl mx-auto space-y-6 md:space-y-0 md:space-x-6"
>
  <!-- Contenedor Principal para Task Manager -->
  <div
    class="w-full md:w-4/5 bg-gradient-to-r from-gray-100 via-gray-200 to-gray-300 shadow-xl rounded-lg p-6 flex-1"
  >
    <!-- Encabezado -->
    <div class="mb-4 text-center">
      <h2 class="text-xl font-semibold text-blue-700">
        Bienvenido, {{ usuario?.name }}
      </h2>
    </div>

    <!-- Título y Botón Logout -->
    <div class="flex items-center justify-between">
      <h1 class="text-2xl font-bold text-gray-800">Tareas</h1>
      <button
        (click)="logOut()"
        class="p-2 bg-red-600 text-white rounded hover:bg-red-700 transition-all ease-in-out duration-200"
      >
        Logout
      </button>
    </div>

    <!-- Botón para mostrar el formulario de tareas -->
    <button
      (click)="showForm = !showForm"
      class="mt-4 p-2 bg-green-600 text-white rounded hover:bg-green-700 transition-all ease-in-out duration-200"
    >
      {{ showForm ? "Cancelar" : "Agregar Nueva Tarea" }}
    </button>

    <!-- Formulario de tarea -->
    <form
      *ngIf="showForm"
      (ngSubmit)="addTask()"
      #taskForm="ngForm"
      class="mt-4 bg-gray-200 p-4 rounded-lg shadow-lg transition-all ease-in-out duration-200"
    >
      <input
        type="text"
        placeholder="Agregar nueva tarea"
        [(ngModel)]="newTaskTitle"
        name="taskTitle"
        required
        class="border border-gray-300 p-2 w-full mb-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 bg-white"
      />
      <textarea
        placeholder="Descripción (opcional)"
        [(ngModel)]="newTaskDescription"
        name="taskDescription"
        class="border border-gray-300 p-2 w-full mb-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 bg-white"
      ></textarea>
      <input
        type="date"
        [(ngModel)]="newTaskDueDate"
        name="taskDueDate"
        class="border border-gray-300 p-2 w-full mb-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 bg-white"
      />
      <select
        [(ngModel)]="newTaskPriority"
        name="taskPriority"
        class="border border-gray-300 p-2 w-full mb-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 bg-white"
      >
        <option *ngFor="let priority of priorities" [value]="priority">
          {{ priority }}
        </option>
      </select>
      <button
        type="submit"
        class="mt-2 p-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition-all ease-in-out duration-200"
      >
        {{ editingTaskId ? "Actualizar Tarea" : "Agregar Tarea" }}
      </button>
    </form>

    <!-- Filtros y opciones de ordenación -->
    <div class="flex space-x-6 mt-6 justify-center md:justify-start">
      <!-- Filtro por estado -->
      <div class="relative">
        <select
          [(ngModel)]="filter"
          (change)="loadTasks()"
          class="block appearance-none w-full px-4 py-2 pr-8 rounded-lg bg-gray-100 border border-gray-300 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
          <option value="all">Todas</option>
          <option value="upcoming">Sin vencer</option>
          <option value="overdue">Vencidos</option>
        </select>
        <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5 text-gray-500">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      </div>
    
      <!-- Filtro por ordenación -->
      <div class="relative">
        <select
          [(ngModel)]="sortOrder"
          (change)="loadTasks()"
          class="block appearance-none w-full px-4 py-2 pr-8 rounded-lg bg-gray-100 border border-gray-300 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
          <option value="dueDate">Por Fecha</option>
          <option value="priority">Por Prioridad</option>
        </select>
        <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5 text-gray-500">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      </div>
    </div>
    

<!-- Lista de tareas -->
<ul class="mt-4 space-y-4">
  <li
    *ngFor="let task of tasks"
    [ngClass]="getPriorityColor(task.priority)"
    class="p-4 border border-gray-200 rounded-lg shadow-md hover:shadow-xl transition-shadow ease-in-out duration-300"
  >
    <div>
      <strong class="text-lg text-gray-900">{{ task.title }}</strong>
      <p *ngIf="task.description" class="text-gray-600">
        {{ task.description }}
      </p>
      <p class="text-gray-500">Fecha de Vencimiento: {{ task.dueDate }}</p>
      <p class="text-gray-500">Prioridad: {{ task.priority }}</p>
      <div
        *ngIf="isDeadlineApproaching(task.dueDate)"
        class="text-red-600 font-semibold"
      >
        ¡Atención! La fecha de vencimiento está cerca.
      </div>
    </div>
    <div class="flex space-x-2 mt-2">
      <button
        (click)="startEditing(task)"
        class="p-2 bg-yellow-500 text-white rounded hover:bg-yellow-600 transition-all ease-in-out duration-200"
      >
        Editar
      </button>
      <button
        (click)="deleteTask(task._id)"
        class="p-2 bg-red-500 text-white rounded hover:bg-red-600 transition-all ease-in-out duration-200"
      >
        Eliminar
      </button>
    </div>
  </li>
</ul>
  </div>

  <!-- Botones para los Modales -->
  <div class="w-full md:w-1/5 mt-6 space-y-4">
    <button
      (click)="openQuoteModal()"
      class="w-full p-3 bg-gradient-to-r from-blue-500 to-blue-600 text-white rounded-lg hover:from-blue-600 hover:to-blue-700 transition-all ease-in-out duration-200"
    >
      Obtener Cita
    </button>

    <button
      (click)="openLocationModal()"
      class="w-full p-3 bg-gradient-to-r from-blue-500 to-blue-600 text-white rounded-lg hover:from-blue-600 hover:to-blue-700 transition-all ease-in-out duration-200"
      aria-label="Obtener ubicación actual"
    >
      Ver Ubicación y Clima
    </button>
    <!-- Botón para abrir el modal de Días Festivos -->
    <button
      (click)="isHolidayModalOpen = true"
      class="w-full p-3 bg-gradient-to-r from-blue-500 to-blue-600 text-white rounded-lg hover:from-blue-600 hover:to-blue-700 transition-all ease-in-out duration-200"
    >
      Ver Días Festivos
    </button>
    <!-- Botón para abrir el modal de Ip -->
    <button
      (click)="isIpModalOpen = true"
      class="w-full p-3 bg-gradient-to-r from-blue-500 to-blue-600 text-white rounded-lg hover:from-blue-600 hover:to-blue-700 transition-all ease-in-out duration-200"
    >
      Ver Ip Actual
    </button>
  </div>

  <!-- Modal de Cita Aleatoria -->
  <div
    *ngIf="isQuoteModalOpen"
    class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50"
    aria-labelledby="quoteModalLabel"
    role="dialog"
    aria-hidden="true"
  >
    <div class="bg-white p-6 rounded-lg shadow-xl w-full sm:w-1/3">
      <h2
        class="text-xl font-semibold text-center mb-4 text-blue-700"
        id="quoteModalLabel"
      >
        Cita Aleatoria
      </h2>
      <div class="text-center">
        <p class="text-lg text-gray-800">"{{ quote }}"</p>
      </div>
      <div class="mt-4 flex justify-center">
        <button
          (click)="closeQuoteModal()"
          class="w-full p-3 bg-red-600 text-white rounded-lg hover:bg-red-700 transition-all ease-in-out duration-200"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>

  <!-- Modal de Ubicación -->
  <div
    *ngIf="isLocationModalOpen"
    class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50"
    aria-labelledby="locationModalLabel"
    role="dialog"
    aria-hidden="true"
  >
    <div class="bg-white p-6 rounded-lg shadow-xl w-full sm:w-1/3">
      <div *ngIf="location" class="mt-6 text-center">
        <p class="text-xl font-semibold text-gray-800">Tu Ubicación:</p>
        <p class="text-lg text-gray-600">
          Latitud:
          <span class="font-bold text-blue-600">{{ location.latitude }}</span>
        </p>
        <p class="text-lg text-gray-600">
          Longitud:
          <span class="font-bold text-blue-600">{{ location.longitude }}</span>
        </p>
      </div>

      <!-- Clima -->
      <div
        *ngIf="weather"
        class="flex flex-col mt-6 justify-center text-center items-center"
      >
        <p class="text-lg text-gray-800">Temperatura: {{ weather.temp }}°C</p>
        <p class="text-lg text-gray-800">
          Sensación Térmica: {{ weather.feels_like }}°C
        </p>
        <p class="text-lg text-gray-800">
          Temperatura Mínima: {{ weather.temp_min }}°C
        </p>
        <p class="text-lg text-gray-800">
          Temperatura Máxima: {{ weather.temp_max }}°C
        </p>
        <p class="text-sm text-gray-600">{{ weather.description }}</p>
        <img [src]="weather.iconUrl" alt="Clima" class="mt-4" />
        <p class="text-sm text-gray-600">Humedad: {{ weather.humidity }}%</p>
        <p class="text-sm text-gray-600">Presión: {{ weather.pressure }} hPa</p>
        <p class="text-sm text-gray-600">
          Viento: {{ weather.wind_speed }} m/s
        </p>
        <p class="text-sm text-gray-600">
          Dirección del viento: {{ weather.wind_deg }}°
        </p>
        <p class="text-sm text-gray-600">
          Ráfagas de viento: {{ weather.wind_gust }} m/s
        </p>
        <p class="text-sm text-gray-600">
          Cobertura Nubosa: {{ weather.clouds }}%
        </p>
        <p class="text-sm text-gray-600">
          Visibilidad: {{ weather.visibility }} m
        </p>
      </div>
      <!-- Botón Cerrar -->
      <div class="mt-4 flex justify-center">
        <button
          (click)="closeLocationModal()"
          class="w-full p-3 bg-red-600 text-white rounded-lg hover:bg-red-700 transition-all ease-in-out duration-200"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>

  <!-- Modal de Días Festivos -->
  <div
    *ngIf="isHolidayModalOpen"
    class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50"
    role="dialog"
    aria-labelledby="holidayModalLabel"
    aria-hidden="true"
  >
    <div class="bg-white p-6 rounded-lg shadow-xl w-full sm:w-1/3">
      <h3
        class="text-lg font-semibold text-center text-gray-700 mb-4"
        id="holidayModalLabel"
      >
        Próximos Días Festivos
      </h3>

      <!-- Lista de Días Festivos -->
      <div *ngIf="holidays.length > 0">
        <ul class="space-y-2">
          <li
            *ngFor="let holiday of holidays"
            class="p-2 border border-gray-300 rounded-lg hover:bg-gray-100"
          >
            <strong class="block text-md text-gray-800">
              {{ holiday.date.iso | date : "EEEE, dd MMMM yyyy" }}
            </strong>
            <p class="text-sm text-gray-600">{{ holiday.name }}</p>
          </li>
        </ul>
      </div>

      <!-- Mensaje si no hay días festivos -->
      <div *ngIf="holidays.length === 0" class="text-center text-gray-600 mt-4">
        <p>No hay días festivos próximos.</p>
      </div>

      <!-- Botón para cerrar el modal -->
      <div class="mt-4 flex justify-center">
        <button
          (click)="isHolidayModalOpen = false"
          class="w-full p-3 bg-red-600 text-white rounded-lg hover:bg-red-700 transition-all ease-in-out duration-200"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
  <!-- Modal de Ubicación -->
  <div
    *ngIf="isIpModalOpen"
    class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50"
    aria-labelledby="locationModalLabel"
    role="dialog"
    aria-hidden="true"
  >
    <div
      class="bg-white p-6 rounded-lg shadow-xl w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4"
    >

      <div *ngIf="ipInfov6" class="mt-6 text-center">
        <h3 class="text-xl font-semibold text-gray-800">
          Información de IP
        </h3>
        <p class="text-lg text-gray-600">
          IP: <span class="font-bold text-blue-600">{{ userIpv6 }}</span>
        </p>
      </div>

      <!-- Botón Cerrar -->
      <div class="mt-4 flex justify-center">
        <button
          (click)="closeIpModal()"
          class="w-full p-3 bg-red-600 text-white rounded-lg hover:bg-red-700 transition-all ease-in-out duration-200"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
